{% extends "base.html" %}
{% block content %}
<div class="modal" id="alertModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">09bot</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalBody">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    <div class="text-center">
        <img src="{{ url_for('static', filename='uploads/map.png') }}" alt="지도 이미지" class="img-fluid">
    </div>
    <div class="text-center mt-4">
        <button id=areaA class="btn btn-secondary" btn-lg onclick="showAlert('A')">A구역 호출</button>
        <button id=areaB class="btn btn-secondary" btn-lg onclick="showAlert('B')">B구역 호출</button>
    </div>
</div>
<script>
    function showAlert(message) {
        document.getElementById('modalBody').innerText = message + '구역으로 가고 있다. 조금만 기다려라.';
        $('#alertModal').modal('show');
    }
</script>
{% endblock %}
{% block script %}
<script>
  const socket = new WebSocket('ws://192.168.0.6:9090');

  socket.onopen = () => {
    console.log('WebSocket connected');

    document.getElementById('areaA').addEventListener('click', function () {
      console.log('버튼 눌림');

      const actionCall = {
        op: 'send_action_goal',
        action: '/navigate_to_pose',
        action_type: 'nav2_msgs/action/NavigateToPose',
        args : {
          pose : {
              header : {
              stamp: {},
              frame_id : 'map'
            },
            pose : {
                position: {
                x: -0.046, 
                y: 1.063, 
                z: 0.0, 
              },
              orientation: {
                x: 0.0,
                y: 0.0,
                z: -0.565,
                w: 0.825,
              }
            }
          }
        }
      };

      socket.send(JSON.stringify(actionCall));
      console.log('목표 전송');
    });
  };

  socket.onmessage = (event) => {
    const response = JSON.parse(event.data);
    console.log('Received response:', response);

    // 응답 유형에 따른 처리
    if (response.op === 'action_result') {
      // 액션 결과 처리
      console.log('Action Result:', response.result);
    } else if (response.op === 'action_feedback') {
      // 액션 피드백 처리
      console.log('Action Feedback:', response.feedback);
    } else if (response.op === 'status') {
      // 액션 상태 처리
      console.log('Action Status:', response.values);
    }
  };

  socket.onclose = () => {
    console.log('WebSocket closed');
  };
</script>
{% endblock %}